*{
    font-family: 'Open Sans', sans-serif;
    font-size: 99.3%;
}

.imgslider{
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

body{
    overflow-x: hidden;
}

.section_footer{
    padding-top:50px;
    padding-bottom:30px;
    background:#f4f4f4;
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
}

.logo_main{
    height: 68px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.navbar_custom{
    padding-top:5px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom:5px;
    /* background :  #2d527c !important; */
    background :  #278c55 !important;
    font-weight: bold;
}

.infobar {
    display: flex;
    padding-left: 20px;
    position: relative;
    top: 4px;
}

.infobar > span {
    padding-left: 20px;
    position: relative;
    top: 20px;
}

.nav_container{
    /* background :  #2d527c !important; */
    background :  #278c55 !important;
}

.navmain > li{
    padding-right:25px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navmain > li > a{
    color : #ffffff !important;
}

.footer_last{
    background : #eee;
    padding-top:25px;
    padding-bottom: 15px;
    border-top: 1px solid #eee;
    font-size: 14px;
}


/*
    carousel
*/

.textheading{
    position: relative;
}

.textheading_container{
    position: absolute;
    top: 100px;
}

.carousel-caption{
    color: #fff;
    top: 50%;
    text-align : left;
    left: 21%;
}

.carousel_content{
    background : #000;
    padding: 30px;
    width: 50%;
}

.form-control {
    border-radius: 0px !important;
}

.btn{
    border-radius: 0px !important;
}

.search_component{
    padding-left: 10px;
    border : 1px solid #fff;
    padding-right: 10px;
    position: relative;
    left: 10px;
}


.search_component_button{
    border : 1px solid #fff;
    padding-bottom: 6px;
    padding-top: 7px;
    color : #fff;
}

.search_component_button:hover{
    color : #ffffff !important;
    background : #fff !important;
}

.breadcrumbs_custom{
    background : #e9ecef;
    padding-top: 6px;
    padding-bottom: 1px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    border-radius: 0px;
    top: 52px;
}

.breadcrumb{
    padding-left: 7px !important;
}

.section_two{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #278c55;
    border-bottom: 1px solid #f1f1f1;
}

.section_three{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f9f9f9;
    border-bottom: 1px solid #f1f1f1;
}

.section_four{
    padding-top: 60px;
    padding-bottom: 60px;
    background : #ffffff !important;
}

.section_four_two{
    padding-top: 0px;
    padding-bottom: 40px;
    background : #ffffff !important;
}


.section_two_head{
    color: #ffffff;
    font-weight: bold;
}

.section_three_head{
    font-weight: bold;
}

.blog_head{
    line-height: 1.6;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size:16.5px !important;
    
}

.loaderse {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    text-align: center;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .footer_rights{
      
  }

  /*
    mobile first view
  */
  #logo_mobile{
      display: none;
  }

  #wafloats{
      display: none;
  }

  .upload_component{
    position: relative;
    left: -57px;
}

  @media (min-width: 320px) and (max-width: 480px) {
   
    .upload_component{
        padding-top: 30px !important;
        position: relative;
        left: 0px;
    }

    .image_galeri_container{
        margin-top : 4px;
        margin-bottom: 4px;
    }
    .carousel-caption{
        display: none;
    }

    #tawkchat-minified-box{
        display: none !important;
    }

    #tawkchat-minified-wrapper{
        display: none !important;
    }

    #logo_mobile{
        display: block;
        font-weight: bold;
        color: #ffffff;
    }

    #navcontainer{
        display: none;
    }

    .floatwa{
        display: block;
        top: 10px;
    }

    #wafloats{
        display: block;
        position: absolute;
        top: 80px;
        right: 10px;
        bottom:40px;
    }

    .navbar-light .navbar-toggler-icon{
        background-image : url('https://image.flaticon.com/icons/svg/847/847734.svg') !important;
    }

    .searchings{
        padding-bottom: 19px;
    }

    .navbar-light .navbar-toggler-icon{
        color : #ffffff !important;
    }

    .navbar-light .navbar-toggler{
        border: 1px solid #278c55;
    }

    .search_inputs{
        width: 80.5% !important; 
    }

    .infobar {
        display: none;
    }

    .imgslider{
        height: 100%;
    }

    .carousel-caption{
        top:20%;
    }

    .carousel_content{
        background: none;
        padding:5px;
        font-size: 9px;
        left: 10%;
    }

    .carousel_content > h1{
        padding:5px;
        font-size: 16px;
    }

    .navbar-toggler-icon{
        color : #ffffff;
    }

    .section_footer{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section_two, .section_three{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section_four_two{
        padding-top: -20px;
        padding-bottom: 10px;
    }

    .section_four{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .navbar-toggler{
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .search_component_button{
        width: 100%;
    }

    .search_component{
        left: 0px;
        position: relative;
    }

    .breadcrumbs_custom{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .img_bar{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width:30%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
}


#footer_rights > a {
    padding-right: 20px;
    color : #888;
}

#footer_rights2 > a {
    padding-right: 40px;
    color : #888;
}

.share_social > a {
    padding-right: 30px;
}

.section_social_share {
    padding-top:10px;padding-bottom:100px;
}

.date_image{
    position: relative;;
    top : -25px;
    background : #eee;
    padding : 10px;
    width: 280px;
    border-top-right-radius: 10px;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #495057;
    border-bottom: 2px solid #000000 !important;
    border-color: #fff;
    background-color: #fff;
}

.form-control{
    padding: 3px 3px 6px 8px !important;
}

.listfooters{
    margin-top:20px;
}

.listfooters >  li {
    padding-top: 4px;
    padding-bottom: 4px;
}
#wa_navbar{
    background:#03a84e;
    border-radius:4px;
    color:#fff;
    margin-left:20px;
    padding-right:20px;
    padding-left:20px;
    padding-top:8px;
    padding-bottom:8px;
    cursor:pointer;
    position: relative;
    top: 22px;
}

#wa_navbar:hover{
    opacity: 0.9;
}

.search_btn{
    background: #232f3c;
    border: 2px solid #232f3c;
    color: #fff;
    position: relative;
    right: 9px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    top : 50px !important;
}

/* .upload_component{
    position: relative;
    left: 0px;
} */

.easyimage-full > img{
    width : 100% !important;
}

.card{
    background: #FFFFFF !important;
    border: 1px solid #E1E7F1 !important;
    box-shadow: 0px 1px 2px rgba(0, 23, 68, 0.09) !important;
}

